//max media
@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}

//min media
@mixin min-screen($res)
{
  @media screen and (min-width: $res)
  {
    @content;
  }
}

//burger
@mixin burger($top, $height, $content: "") {
  background: $background-white;
  border-radius: 8px;
  content: $content;
  height: $height;
  left: 0;
  position: absolute;
  margin: 0 auto;
  right: 0;
  top: $top;
  transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotate(0);
  width: 100%;
}

// input placeholder 
@mixin input-placeholder {
  &::-webkit-input-placeholder {
      @content;
  }
  &:-moz-placeholder {
      @content;
  }
  &:-ms-input-placeholder {
      @content;
  }
  &.placeholder {
      @content;
  }
}
