.heading{
    font-family: $font-dosis;
    font-weight: 600;
    line-height: 64px;
    
    &--big{
        font-size: 3rem;
        @include min-screen(768px) {
            font-size: 3.8rem;
        }
    }  

    &--medium{
        font-size: 2.4rem;
        @include min-screen(768px) {
            font-size: 3.2rem;
        }
    } 
     
    &--small{
        font-size: 2.2rem;
        @include min-screen(768px) {
            font-size: 3rem;
        }    
    } 
}